doctype html
html
  head
    meta(charset='utf-8')
  body
    form(action='updateAsset' method='post' enctype="multipart/form-data")
      input(type='file' name='userfile')
      input(type='text' name='assetID')
      input(type='submit')
